/* INDEX */

@mixin size($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.basicPicture {
    @include size(100%, auto);
    padding: 1rem;
}

.carousel {
    .carousel-inner {
        height: 500px;

        .carousel-item {
            img {
                min-height: 200px;
                height: 500px;
                object-fit: cover
            }
        }
    }

}

#carouselBannerImages {
    width: 100%;
}
/* CUIDADOS */

.cuidadoDePlantasTips {
    margin: 0.5rem;

    p {
        padding-top: 1rem;
        margin-bottom: 1.2rem;
    }
}

.cuidadosPicture {
    @include size(75%, auto);
    margin: 2rem 12.5%;
}

.fbVideoContainer {
    margin: 2rem 12.5%;
    overflow: hidden;
    position: relative;
    padding-bottom: 75%;
    height: 0;
    width: 75%;
}

.fbVideoContainer .fbIframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* CONTACTO */
.contactForm {
    margin: 2rem auto;
    box-sizing: border-box;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    width: 80%;

    input {
        padding: 0;
        box-sizing: border-box;
        height: 2.6rem;
        font-size: 1.8rem;
    }

    textarea {
        font-size: 1.8rem;
    }

    label {
        font-size: 1.8rem;
    }

    .button {
        padding: 0.4rem;
        height: 4rem;
    }
}

#locationMap {
    width: 90%;
    height: 60rem;
    padding: 0.5rem;
    margin: 5rem 5% 5rem 5%;
}

#noticiasCheck {
    width: 2.2rem;
    margin-right: 0.5rem;
}
