/* INDEX */

.fotosIndex {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    .card {
        margin: 0.5rem;
    }
}

.basicPicture {
    width: 100%;
    height: auto; 
    padding: 1rem;
}

.carousel {
    .carousel-inner{
        height:500px;
        .carousel-item {
            img{
            min-height:200px;
            height:500px;
            object-fit:cover
            }
        }
    }

}
#carouselBannerImages {
    width: 100%;
}

/* PRODUCTOS */

.listaProductos {
    display: flex;
    flex-direction: column;
}

/* CUIDADOS */

.cuidadoDePlantasTips {
    margin: 0.5rem;
    p {
        padding-top: 1rem;
        margin-bottom: 1.2rem;
    }
}

.cuidadosIframe {
    height: 476px;
}

/* HISTORIA */
.historiaFoto {
    width: 50%;
    height: auto;
}
.textoHistoria {
    p {
        margin-bottom: 1.2rem;
    }
}

/* CONTACTO */
.contactForm {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    width : 80%;
    input {
        padding: 0;
        box-sizing: border-box;
        height: 2.6rem;
        font-size: 1.8rem;
      }
    textarea {
        font-size: 1.8rem;
    }
    label {
        font-size: 1.8rem;
      }
    .button {
        padding: 0.4rem;
        height: 4rem;
    }
  }

  #locationMap {
    width: 90%;
    height: 60rem;
    padding: 0.5rem;
    margin: 5rem 5% 5rem 5%;
}
#noticiasCheck {
    width: 2.2rem;
    margin-right: 0.5rem;
}
