@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Ubuntu:wght@300&display=swap");
:root {
  --white: rgb(238, 247, 223);
  --black: #36383F;
  --grey: #85888C;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

/*operaciones*/
.btn--rojo {
  background-color: #b64e4e;
  color: white;
  font-weight: bold;
}

.btn--verde {
  background-color: #65ad5f;
  color: white;
  font-weight: bold;
}

.btn--azul {
  background-color: #327ee0;
  color: white;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
}

/* tamaños de fuente generales*/
h1 {
  font-size: 3.2rem;
  margin: 1rem 0.2rem;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0.5rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  margin: 1rem 1rem;
  font-size: 1.8rem;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
}

figcaption {
  font-size: 1.8rem;
}

.pageTitle {
  margin-bottom: 2rem;
}

.pageSubtitle {
  padding: 1rem;
}

.hidden {
  display: none;
}

.btn {
  padding: 0.5rem;
}

/* Elementos de la grilla */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: azure;
  position: fixed;
  -webkit-box-shadow: 0px 0px 5px 0px var(--grey);
          box-shadow: 0px 0px 5px 0px var(--grey);
  top: 0;
  left: 0;
  width: 100%;
}

.headerMargin {
  margin-top: 17rem;
}

.bannerImage {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  padding: 1rem;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  width: 100%;
  padding: 1rem;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: azure;
  margin-top: 3rem;
  padding: 1rem;
}

.bodyGrid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "banner" "main" "aside" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.2rem;
}

.productosGrid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "aside" "main" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.2rem;
}

.cardsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.5rem;
}

.cardsList .card {
  margin: 0.5rem;
}

/* HEADER */
/* Navegacion */
.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navContainer .mainNav {
  margin-top: 8rem;
  width: 90%;
  height: 80%;
  position: fixed;
  overflow: hidden;
  background-color: azure;
}

.navContainer .mainNav ul li {
  list-style-type: none;
  display: block;
  margin: 0.8rem;
}

.navContainer .mainNav ul li a {
  display: block;
  font-family: 'Overpass', sans-serif;
  color: black;
  font-size: 2.5rem;
}

.mainNav {
  max-height: 0;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  margin-right: 4rem;
}

.header__title {
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  z-index: 9999;
}

.logoLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.logoLink:hover {
  color: black;
}

.logoImg {
  -ms-flex-preferred-size: 2rem;
      flex-basis: 2rem;
  padding: 0.5rem;
}

.logoTitle {
  font-size: 3.2rem;
  padding: 1rem 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.logoCarrito {
  height: 25px;
  width: 30px;
}

#carritoCant {
  font-family: 'Ubuntu', sans-serif;
  color: red;
  font-size: medium;
  margin: 0.5rem;
  font-weight: bold;
}

/*menu celular*/
.hamb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  float: right;
  padding: 1rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hambLine {
  background: var(--black);
  display: block;
  height: 0.2rem;
  position: relative;
  width: 2.4rem;
}

.hambLine:before, .hambLine:after {
  background: var(--black);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.hambLine:before {
  top: 0.5rem;
}

.hambLine:after {
  top: -0.5rem;
}

.sideMenu {
  display: none;
}

.sideMenu:checked ~ .mainNav {
  max-height: 100%;
  display: block;
}

.sideMenu:checked ~ .hamb .hambLine {
  background: black;
}

.sideMenu:checked ~ .hamb .hambLine::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.sideMenu:checked ~ .hamb .hambLine::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

/* FOOTER */
.footerFlexItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footerNav {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.footerNav li {
  list-style-type: none;
}

.footerNav li a {
  font-family: 'Overpass', sans-serif;
  color: black;
}

.footerContactDetails {
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
}

/*uso de extend*/
.smallSideMargin, .socialLinkImage, .footerEmailInput {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.socialLinkImage {
  width: 3rem;
  height: 3rem;
}

.footerEmailInput {
  border: 3px dashed #327ee0;
}

.footerContactBox {
  height: 2.3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* INDEX */
.basicPicture {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.carousel .carousel-inner {
  height: 500px;
}

.carousel .carousel-inner .carousel-item img {
  min-height: 200px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#carouselBannerImages {
  width: 100%;
}

/* CUIDADOS */
.cuidadoDePlantasTips {
  margin: 0.5rem;
}

.cuidadoDePlantasTips p {
  padding-top: 1rem;
  margin-bottom: 1.2rem;
}

.cuidadosPicture {
  width: 75%;
  height: auto;
  margin: 2rem 12.5%;
}

.fbVideoContainer {
  margin: 2rem 12.5%;
  overflow: hidden;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  width: 75%;
}

.fbVideoContainer .fbIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CONTACTO */
.contactForm {
  margin: 2rem auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  border: 4px solid #e6e6e6;
  width: 80%;
}

.contactForm input {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2.6rem;
  font-size: 1.8rem;
}

.contactForm textarea {
  font-size: 1.8rem;
}

.contactForm label {
  font-size: 1.8rem;
}

.contactForm .button {
  padding: 0.4rem;
  height: 4rem;
}

#locationMap {
  width: 90%;
  height: 60rem;
  padding: 0.5rem;
  margin: 5rem 5% 5rem 5%;
}

#noticiasCheck {
  width: 2.2rem;
  margin-right: 0.5rem;
}

/* CARRITO*/
.table {
  font-family: 'Ubuntu', sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  overflow-x: scroll;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table td {
  font-size: 10pt;
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  background-color: #65ad5f;
  color: white;
  font-size: 12pt;
}

.busquedaStock {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.busquedaStock input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
}

.busquedaStock button {
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

.busquedaStock button:hover {
  background: #0b7dda;
}

#totalesCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
}

/* PRODUCTOS */
.listaProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productosCard {
  margin: 2rem 1rem;
}

.busquedaProd {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.busquedaProd input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  width: 60%;
  background: #f1f1f1;
}

.busquedaProd button {
  width: 40%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

.busquedaProd button:hover {
  background: #0b7dda;
}

#productosMain {
  margin-top: 1rem;
}

.pageNumber {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin: 0.5rem;
  padding-right: 0.5rem;
  font-size: 12pt;
  font-weight: bold;
}

.cardBtnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.3rem;
}

.cardInputLabel {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 0.5rem;
}

.cardInput {
  width: 3rem;
  margin: 0 1rem;
}

#categoriasProd {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
  list-style-type: none;
}

#categoriasProd li:hover {
  text-decoration: underline;
}

.open-modal {
  font-weight: bold;
  background: steelblue;
  color: white;
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background: black;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: white;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header {
  background: lightblue;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-header {
  font-size: 2rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-content {
  font-size: 1.8rem;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

/* Admin page */
#adminForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 60%;
  margin: auto;
  padding: 1%;
  gap: 1rem;
}

#adminForm input, #adminForm label, #adminForm button {
  margin: 0.5rem;
}

#adminForm input, #adminForm label {
  font-size: 12pt;
}

#tablaAdmin {
  margin: auto;
}

.pageChangeButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.pageChangeButtons button {
  margin-right: 0.5rem;
}

/* Responsiveness */
@media (min-width: 768px) {
  .bodyGrid {
        grid-template-areas: "header header" "banner banner" "main   aside" "footer footer";
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .productosGrid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header" "aside  main" "footer footer";
    -ms-grid-columns: 2fr 5fr;
        grid-template-columns: 2fr 5fr;
    gap: 0.2rem;
  }
  #productosMain {
    margin-top: 17rem;
  }
  .cardsList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .header__title {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .navContainer {
    display: block;
  }
  .navContainer .mainNav {
    max-height: none;
    top: 0;
    position: relative;
    float: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 1rem;
  }
  .navContainer .mainNav ul li {
    float: left;
  }
  .navContainer .mainNav ul li a:hover {
    background-color: transparent;
    color: var(--grey);
  }
  .hamb {
    display: none;
  }
}

[data-aos] {
  pointer-events: none;
}

.aos-animate {
  pointer-events: auto;
}

.aos-init[data-aos][data-aos].aos-animate {
  -webkit-transform: unset;
          transform: unset;
}
/*# sourceMappingURL=style.css.map */